/* Основные стили */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #001933, #350112);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    /* Для абсолютного позиционирования картинки */
}

.container {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Анимация для изображения */
.image-container {
    position: absolute;
    top: 1%;
    /* Расположение картинки сверху */
    left: 5%;
    width: 50%;

}

.moving-image {
    width: 20%;
    height: auto;
    animation: moveImage 10s ease-in-out infinite;
    position: absolute;
    /* Анимация */
}

/* Анимация для движения изображения */
@keyframes moveImage {
    0% {
        transform: translateX(30vw);
        /* Начальная позиция */
    }

    50% {
        transform: translateX(50vw);
    }

    100% {
        transform: translateX(30vw);
        /* Возвращение в начальную позицию */
    }
}

/* Стили формы */
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #f7f7f7;
    color: #333;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #e53e3e;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b91c1c;
}

a.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #ff6b6b;
    text-decoration: none;
}

a.back-link:hover {
    text-decoration: underline;
}